#profile-wrapper {
  width: 350px;
}

#about-me {
  min-height: 90vh;
  display: flex;
  align-items: center;
}

#skills {
  min-height: 400px;
}

#projects {
  min-height: 600px;
}

#contact {
  min-height: 400px;
}


